.Icon-container{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
}

.Icon-container--check{
    position: absolute;
    left: 12px;
}

.Icon-container--delete{
    position: absolute;
    right: -16px;
    top: -18px;
    background: white;
    border-style: solid;
    box-shadow: -1px 1px 20px #555555eb;
    border-width: 1px;
    border-color: white;
    border-radius: 33px;
}

.Icon-svg{
    width: 24px;
    height: 24px;
    transition: fill .15s;
}

.Icon-container:hover .Icon-svg--check{
    fill: #4caf50;
}

.Icon-container:hover .Icon-svg--delete{
    fill: red;
}

